


    <div class="row">
      <div class="offset-sm-3 col-sm-6">

        <div class="card text-blank border-0">
          <div class="card-body">
            <div class="card-title text-center">
              <h5>Upload Profile Image</h5>
            </div>
            <div class="card-text">
                <div class="form-control">
                  <input type="file" (change) = "chooseFile($event)">
                </div>

                <div class="text-center mt-3">
                  <img class = 'mt-3'[src]='imgSrc'  height= '150px' width='150px' id ='img'>
                  <hr>
                  <button type="submit" (click) = "upload()" class="btn btn-warning" name="button">Upload</button>
                </div>

            </div>

          </div>
        </div>

      </div>
    </div>
